{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  Инфорация по запускам
{% endblock %}

{% block content %}
  <h1>
    Инфорация по работе сервиса
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>
          Число итераций: {{ object_list.count }}
        </p>
      </div>
      <div class="col-sm-6">
        <p>
          Текущее количество процессоров: 2
        </p>
        <p>
          Оптимальное количество процессоров: 5
        </p>
      </div>
    </div>
  </div>
  <table id="staticDatatable" class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Started</th>
        <th scope="col">Stopped</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    {% for info_loop in object_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{% if info_loop.value %}Started{% else %}Stopped{% endif %}</td>
        <td>{{ info_loop.started }}</td>
        <td>{{ info_loop.sopped }}</td>
        <td>{{ info_loop.duration }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/info_datatable.js' %}"></script>
{% endblock %}