{% extends 'base.html' %}

{% block title %}
  Intra-bank exchanges through crypto-exchanges
{% endblock %}

{% block content %}
{% load custom_filters %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>
          The best possible Intra-bank exchanges through crypto-exchanges
        </h1>
        {% include 'crypto_exchanges/includes/product_filter.html' %}
      </div>
      <div class="col-sm-8">
        <h1>
          The best possible Intra-bank exchanges through crypto-exchanges
        </h1>
        <p>
          Связок: {{ loop_rates.count }}
        </p>
        <table id="dataTable" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Связка</th>
              <th scope="col"><br>% маржинальности</th>
              <th scope="col">Обновлено</th>
            </tr>
          </thead>
          {% for loop_rate in loop_rates %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>
                {% if loop_rate.input_bank == loop_rate.bank_exchange.bank %}
                  {% if loop_rate.bank_exchange.currency_market %}{{ loop_rate.bank_exchange.currency_market.name }}{% else %}{{ loop_rate.input_bank.name }}{% endif %} {{ loop_rate.bank_exchange.from_fiat }} ->
                {% endif %}
                {{ loop_rate.input_bank.name }}
                {{ loop_rate.input_crypto_exchange.fiat }} -> {{ loop_rate.input_crypto_exchange.asset }} ->
                {% if loop_rate.interim_crypto_exchange %}
                  {{ loop_rate.interim_crypto_exchange.to_asset }} ->
                {% endif %}
                {% if loop_rate.second_interim_crypto_exchange %}
                  {{ loop_rate.second_interim_crypto_exchange.from_asset }} ->
                {% endif %}
                {{ loop_rate.output_bank.name }} {{ loop_rate.output_crypto_exchange.fiat }}
                {% if loop_rate.output_bank == loop_rate.bank_exchange.bank %}
                   -> {% if loop_rate.bank_exchange.currency_market %}{{ loop_rate.bank_exchange.currency_market.name }}{% else %}{{ loop_rate.output_bank.name }}{% endif %} {{ loop_rate.bank_exchange.to_fiat }}
                {% endif %}
              </td>
              <td>{{ loop_rate.marginality_percentage|floatformat:2 }} % {% include 'crypto_exchanges/includes/modal_fade.html' %}</td>
              <td>> {{ loop_rate.update.updated|updated_time }}cек.</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function() {
            $('#dataTable').DataTable({
        "searching": false,
        "info": false,
        });
      });
  </script>
{% endblock %}