{% extends 'base.html' %}

{% block title %}
  Intra-bank exchanges through crypto-exchanges
{% endblock %}

{% block content %}
{% load custom_filters %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>
          Расширенный фильтр:
        </h2>
        {% include 'crypto_exchanges/includes/product_filter.html' %}
      </div>
      <div class="col-sm-8">
        <h1>
          Все актуальные арбитражные связки:
        </h1>
        <p>
          Связок: {{ loop_rates.count }}
        </p>
        <table id="dataTable" class="table">
          <thead>
            <tr>
              <th scope="col">Связка</th>
              <th scope="col">Маржинальность</th>
              <th scope="col">Обновлено</th>
            </tr>
          </thead>
          {% for loop_rate in loop_rates %}
            <tr>
              <td>
                {% include 'crypto_exchanges/includes/modal_fade.html' %}

              </td>
              <td><span style="color:{% if loop_rate.marginality_percentage > 0 %}green{% else %}red{% endif %}">{{ loop_rate.marginality_percentage|floatformat:2 }}%</span></td>
              <td><p class="fw-light fs-15">< {{ loop_rate.update.updated|updated_time }} cек.</p></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% block script %}
    <script>
      $(document).ready(function() {
            $('#dataTable').DataTable({
        "pageLength": 10,
        "searching": false,
        "info": false,
                "aaSorting": [],
                {#"ordering": false,#}
        {#"order": [[1, 'desc']]#}

        });
      });
    </script>
  {% endblock %}
{% endblock %}