{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load i18n static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        {% include 'crypto_exchanges/includes/product_filter.html' %}
      </div>
      <div class="col-sm-8">
        <h1>
          Все актуальные арбитражные связки:
        </h1>
        <p>
          Связок: {{ count }}
        </p>
        <table id="myStaticDatatable" class="table">
          <thead>
          <tr>
            <th>Связка</th>
            <th>Маржинальность</th>
            <th>Обновлено</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="//cdn.datatables.net/plug-ins/725b2a2115b/api/fnReloadAjax.js"></script>
  <script>
      let dt_language = {
            "emptyTable":     "{% trans "No data available in table" %}",
            "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{% trans "Показать _MENU_ связок на странице" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing":     "{% trans "Квантовые вычисления..." %}",
            "search":         "{% trans "Search:" %}",
            "zeroRecords":    "{% trans "No matching records found" %}",
            "paginate": {
                "first":      "{% trans "Первая" %}",
                "last":       "{% trans "Последняя" %}",
                "next":       "{% trans "Следующая" %}",
                "previous":   "{% trans "Предидущая" %}"
            },
            "aria": {
                "sortAscending":  "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }
      let data_url = '{% url "crypto_exchanges:inter-exchanges_data" %}'  + '{{ request.get_full_path|last_url_path:0 | safe }}';
      function updateTime(updated) {
          let seconds = Math.ceil((new Date() - new Date(updated)) / 1000);
          return seconds > 999 ? 999 : seconds;
      }
      function colorSelector(marginality_percentage) {
          return marginality_percentage > 0 ? 'green' : 'red';
      }
      function bankExchange(row) {
          if (!row.bank_exchange.currency_market) {
              return `внутри банка ${row.input_bank.name} нужно поменять ${row.bank_exchange.from_fiat} на ${row.bank_exchange.to_fiat} по курсу ${row.bank_exchange.price}, с учётом комиссии.`;
          } else {
              return `внутри банка ${row.input_bank.name} нужно поменять ${row.bank_exchange.from_fiat} на ${row.bank_exchange.to_fiat} через биржу ${row.bank_exchange.currency_market.name}, по курсу ${row.bank_exchange.price}, с учётом комиссии.`;
          }
      }
      function inputCryptoExchange(row) {
          return `со счёта ${row.input_bank.name} нужно купить активы на криптобирже ${row.crypto_exchange.name}. За ${row.input_crypto_exchange.fiat} следует купить ${row.input_crypto_exchange.asset} методом ${row.input_crypto_exchange.payment_channel} по курсу ${row.input_crypto_exchange.price}.`;
      }
      function interimCryptoExchange(row) {
          if (row.second_interim_crypto_exchange) {
              return `Теперь внутри ${row.crypto_exchange.name} через Спот надо сначала конвертировать ${row.interim_crypto_exchange.from_asset} в ${row.interim_crypto_exchange.to_asset} по курсу ${row.interim_crypto_exchange.price}, а потом ${row.interim_crypto_exchange.to_asset} в ${row.second_interim_crypto_exchange.to_asset} по курсу ${row.second_interim_crypto_exchange.price}, комиссии учтены.`;
          } else {
              return `Теперь внутри ${row.crypto_exchange.name} через Спот надо конвертировать ${row.interim_crypto_exchange.from_asset} в ${row.interim_crypto_exchange.to_asset} по курсу ${row.interim_crypto_exchange.price}, комиссия учтена.`;
          }
      }
      function outputCryptoExchange(row) {
          return `нужно перевести активы с ${row.crypto_exchange.name} на счёт ${row.output_bank.name} по методу ${row.output_crypto_exchange.payment_channel}. Перевести ${row.output_crypto_exchange.asset} в ${row.output_crypto_exchange.fiat} по курсу ${row.output_crypto_exchange.price}.`;
      }
      function modalWrite(row) {
          let modal = ''
          if (row.bank_exchange && row.bank_exchange.bank.name === row.input_bank.name) {
              modal += `<p>1. Сначала ${bankExchange(row)}</p><p>2. Далее, ${inputCryptoExchange(row)}</p>`
              if (row.interim_crypto_exchange) {
                  modal += `<p>3. ${interimCryptoExchange(row)}</p><p>4. Последнее, ${outputCryptoExchange(row)}</p>`
              } else {
                  modal += `<p>3. Последнее, ${outputCryptoExchange(row)}</p>`
              }
          } else {
              modal += `<p>1. Сначала ${inputCryptoExchange(row)}</p>`
              if (row.interim_crypto_exchange) {
                  modal += `<p>2. ${interimCryptoExchange(row)}</p>`
                  if (!row.bank_exchange) {
                      modal += `<p>3. Последнее, ${outputCryptoExchange(row)}</p>`
                  } else {
                      modal += `<p>3. Далее, ${outputCryptoExchange(row)}</p><p>4. Последнее, ${bankExchange(row)}</p>`
                  }
              } else {
                  if (!row.bank_exchange) {
                      modal += `<p>2. Последнее, ${outputCryptoExchange(row)}</p>`
                  } else {
                      modal += `<p>2. Далее, ${outputCryptoExchange(row)}</p><p>3. Последнее, ${bankExchange(row)}</p>`
                  }
              }
          }

              return modal;
      }
      $(function () {
          $("body").tooltip({
          selector: '[data-toggle="tooltip"]'
          });
      });
      $(document).ready(function () {
          var refreshTable = $('#myStaticDatatable').DataTable({
              "language": dt_language,
              "searching": false,
              "pageLength": 10,
              "info": false,
              {#"aaSorting": [],#}
              'order': [[1, 'desc']],
              'processing': true,
              'serverSide': true,
              'ajax': {
                  url: data_url,
                  dataSrc: 'data',
              },

          {#    "rowCallback": function( row, data, index ) {#}
          {#        if ($(`#modal${row.id}`).not('.visible')) {#}
          {#    (`#modal${row.id}`).modal.show();#}
          {# }},#}
              {#"rowCallback": function( row, data, index ) {#}
              {#    if ( updateTime(data.update.updated) == 999 )#}
              {#    {#}
              {#        $('td', row).css('background-color', 'Red');#}
              {#    } else if ( updateTime(data.update.updated) )#}
              {#    {#}
              {#        $('td', row).addClass('stylish');#}
              {#        setTimeout(function() {#}
              {#            $('td', row).removeClass('stylish');#}
              {#            }, 1000);#}
              {##}
              {#    }},#}
              columns: [
                  {
                      data: 'diagram',
                      orderable: true
                  },
                  {
                      data: null,
                      render: function (data, type, row){
                          return (
                              `<span class="d-inline-block" tabindex="0" data-bs-placement="top" data-toggle="tooltip" title="Нажмите для подробной информации">
                                <p type="button" data-bs-toggle="modal" data-bs-target="#modal${row.id}">
                                  <span style="color:${colorSelector(row.marginality_percentage)}">${row.marginality_percentage}%</span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                  </svg>
                                </p>
                              </span>
                              <div class="modal fade" id="modal${row.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Инструкция к связке:</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                      ${row.diagram}
                                      <hr/>
                                      ${modalWrite(row)}
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    </div>
                                  </div>
                                </div>
                              </div>`

                          )
                      },
                      orderable: true
                  },
                  {
                      data:null,
                      render: function (data, type, row){
                          return `<p class="fw-light fs-15">< ${updateTime(row.update.updated)} cек.</p>`
                      },
                      orderable: false
                  },

              ]
          });
          setInterval( function () {
              refreshTable.ajax.reload( null, false );
              }, 15000 );
      });
      {#setTimeout(function() {#}
      {#    location.reload();#}
      {#    }, 3000);#}
  </script>
{% endblock %}