{% load static %}
{% load custom_filters %}
{% with request.resolver_match.view_name as view_name %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Banks exchanges
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item {% if 'internal_exchanges' == request.path|last_url_path:1 %}active{% endif %}" href="{% url 'banks:banks_internal_exchanges' %}">Internal exchange rates</a></li>
              <li><a class="dropdown-item {% if 'internal_triple_exchanges' == request.path|last_url_path:1 %}active{% endif %}" href="{% url 'banks:banks_internal_triple_exchanges' %}">Internal triple exchange rates</a></li>
              <li><a class="dropdown-item {% if 'currency_markets' == request.path|last_url_path:1 %}active{% endif %}" href="{% url 'banks:banks_currency_market_exchanges' %}">Exchange rates through the exchange</a></li>
              <li><a class="dropdown-item {% if 'best_exchanges' == request.path|last_url_path:1 %}active{% endif %}" href="{% url 'banks:banks_best_exchanges' %}">The best ways to exchange</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Crypto exchanges
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item {% if 'p2p_exchanges' == request.path|last_url_path:1 %}active{% endif %}" href="{% url 'crypto_exchanges:crypto_exchanges_p2p_exchanges' %}">P2P exchange rates</a></li>
              <li><a class="dropdown-item" href="#">Internal triple exchange rates</a></li>
              <li><a class="dropdown-item" href="#">Exchange rates through the exchange</a></li>
              <li><a class="dropdown-item" href="#">The best ways to exchange</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Inter-exchange exchanges
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Internal exchange rates</a></li>
              <li><a class="dropdown-item" href="#">Internal triple exchange rates</a></li>
              <li><a class="dropdown-item" href="#">Exchange rates through the exchange</a></li>
              <li><a class="dropdown-item" href="#">The best ways to exchange</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endwith %}