{% load custom_filters %}
<!-- Кнопка-триггер модального окна -->
{#<i class="bi bi-question-circle" data-bs-toggle="modal" data-bs-target="#exampleModal{{ forloop.counter }}"></i>#}
<span class="d-inline-block" tabindex="0" data-bs-placement="top" data-toggle="tooltip" title="Нажмите для подробной информации">
  <p type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{ forloop.counter }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
    {% include 'crypto_exchanges/includes/seqence.html' %}
  </p>
</span>
<!-- Модальное окно -->
<div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Инструкция к связке</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <p>
          {% include 'crypto_exchanges/includes/modal_includes/diagram.html' %}
        <p/>
        {% if loop_rate.input_bank == loop_rate.bank_exchange.bank %} <!-- Если внутрибанковский обмен в начале -->
          <p>
            1. Сначала {% include 'crypto_exchanges/includes/modal_includes/bank_exchange.html' %}
          <p/>
          <p>
            2. Далее, {% include 'crypto_exchanges/includes/modal_includes/input_crypto_exchange.html' %}
          <p/>
          {% if loop_rate.interim_crypto_exchange %} <!-- Если внутрибанковский обмен в начале + Если есть внутрибирживой омен -->
            <p>
              3. {% include 'crypto_exchanges/includes/modal_includes/interim_crypto_exchange.html' %}
            </p>
            <p>
              4. Последнее, {% include 'crypto_exchanges/includes/modal_includes/output_crypto_exchange.html' %}
            <p/>
          {% else %} <!-- Если внутрибанковский обмен в начале + Если нет внутрибирживого омена -->
            <p>
              3. Последнее, {% include 'crypto_exchanges/includes/modal_includes/output_crypto_exchange.html' %}
            </p>
          {% endif %}
        {% else %} <!-- Если в начале нет внутрибанковского обмена -->
          <p>
            1. Сначала {% include 'crypto_exchanges/includes/modal_includes/input_crypto_exchange.html' %}
          </p>
          {% if loop_rate.interim_crypto_exchange %} <!-- Если в начале нет внутрибанковского обмена + Если есть внутрибирживой обмен -->
            <p>
              2. {% include 'crypto_exchanges/includes/modal_includes/interim_crypto_exchange.html' %}
            </p>
            {% if not loop_rate.bank_exchange %} <!-- Если внутрибанковского обмена нет совсем + Если есть внутрибирживой обмен -->
              <p>
                3. Последнее, {% include 'crypto_exchanges/includes/modal_includes/output_crypto_exchange.html' %}
              </p>
            {% else %} <!-- Если внутрибанковский обмен в конце + Если есть внутрибирживой обмен -->
              <p>
                3. Далее {% include 'crypto_exchanges/includes/modal_includes/output_crypto_exchange.html' %}
              </p>
              <p>
                4. Последнее, {% include 'crypto_exchanges/includes/modal_includes/bank_exchange.html' %}
              </p>
            {% endif %}
          {% else %} <!-- Если в начале нет внутрибанковского обмена + Если нет внутрибирживого обмена -->
            {% if not loop_rate.bank_exchange %} <!-- Если внутрибанковского обмена нет совсем + Если нет внутрибирживого обмена -->
              <p>
                2. Последнее, {% include 'crypto_exchanges/includes/modal_includes/output_crypto_exchange.html' %}
              </p>
            {% else %} <!-- Если внутрибанковский обмен в конце + Если нет внутрибирживого обмена -->
              <p>
                2. Далее, {% include 'crypto_exchanges/includes/modal_includes/output_crypto_exchange.html' %}
              </p>
              <p>
                3. Последнее, {% include 'crypto_exchanges/includes/modal_includes/bank_exchange.html' %}
              </p>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $("body").tooltip({
    selector: '[data-toggle="tooltip"]'
        });
    });
</script>