{% extends 'base.html' %}

{% block title %}
  {{ name_of_bank }} bank
{% endblock %}

{% block content %}
  <h1>{{ name_of_bank }} bank</h1>
  <p>
    Count rates: {{ bank_rates.count }}
  </p>
  <p>
    Last update: {{ last_update }}
  </p>
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From fiat</th>
      <th scope="col">To fiat</th>
      <th scope="col">Price</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  {% for bank_rate in bank_rates %}
    {% include 'banks/includes/post.html' %}
  {% endfor %}
  </table>
{% endblock %}