{% extends 'base.html' %}

{% block title %}
  {{ bank_name }} bank
{% endblock %}

{% block content %}

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">All banks</a>
    </li>
    {% for bank_name in banks_name %}
    <li class="nav-item">
      <a class="nav-link" href="/{{ bank_name }}/intra_exchanges/">{{ bank_name }}</a>
    </li>
    {% endfor %}
  </ul>

  <h1>
    {% if not bank_name %}
      All banks {{ request.path }}|split:"/"
    {% else %}
      {{ bank_name }} bank
    {% endif %}
  </h1>
  <p>
    Count rates: {{ bank_rates.count }}
  </p>
  <p>
    Last update: {{ last_update }}
  </p>
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From fiat</th>
      <th scope="col">To fiat</th>
      <th scope="col">Price</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  {% for bank_rate in bank_rates %}
    {% include 'banks/includes/post.html' %}
  {% endfor %}
  </table>
{% endblock %}