{% extends 'base.html' %}

{% block title %}
  Internal exchange rates
{% endblock %}

{% block content %}
{% load custom_filters %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if request.path|last_url_path:2 == 'banks' %}active{% endif %}" href="/banks/{{ request.path|last_url_path:1 }}/">All banks</a>
    </li>
    {% for bank_name in bank_names %}
    <li class="nav-item">
      <a class="nav-link {% if bank_name == request.path|last_url_path:2 %}active{% elif bank_name|is_empty %}disabled{% endif %}" href="/{{ bank_name }}/{{ request.path|last_url_path:1 }}/">{{ bank_name }}</a>
    </li>
    {% endfor %}
  </ul>
  <h1>
    Exchange rates through the exchange
  </h1>
  <p>
    Count rates: {{ request.path|count_rates }}
  </p>
  <p>
    Last update {{ request.path|last_update }}:
  </p>
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      {% if request.path|last_url_path:2 == 'banks' %}<th scope="col">Bank</th>{% endif %}
      <th scope="col">Currency market</th>
      <th scope="col">Currencies</th>
      <th scope="col">Price</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
    {% for bank_name in bank_names %}
     {% for market_rate in bank_name|get_currency_markets_rates %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          {% if request.path|last_url_path:2 == 'banks' %}<td>{{ bank_name }}</td>{% endif %}
          <td>{{ market_rate.currency_market.name }}</td>
          <td>{{ market_rate.from_fiat }} -> {{ market_rate.to_fiat }}</td>
          <td>{{ market_rate.price }}</td>
          <td>{{ market_rate.update.updated}}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
{% endblock %}