{% extends 'base.html' %}

{% block title %}
  Internal triple exchange rates
{% endblock %}

{% block content %}
{% load custom_filters %}
{% include 'banks/includes/bank_selector.html' %}
  <h1>
    Internal triple exchange rates
  </h1>
  <p>
    Count rates: {{ bank_rates.count }}
  </p>
  <p>
    Last update: {{ last_update }}
  </p>
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      {% if request.path|last_url_path:2 == 'banks' %}<th scope="col">Bank</th>{% endif %}
      <th scope="col">Currencies</th>
      <th scope="col">Price</th>
      <th scope="col">Marginality percentage</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
    {% for bank_rate in bank_rates %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        {% if request.path|last_url_path:2 == 'banks' %}<td>{{ bank_rate.bank.name }}</td>{% endif %}
        <td>
          {% for currency in bank_rate.list_of_transfers %}
            {{ currency }}
            {% if not forloop.last %}->{% endif %}
          {% endfor %}
        </td>
        <td>{{ bank_rate.price }}</td>
        <td>{{ bank_rate.marginality_percentage }} %</td>
        <td>{{ bank_rate.update.updated}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}