td {
    background-color: white !important;
    transition: background-color 1s !important;
}

.stylish {
    background-color: orange !important;
    transition: background-color 1s !important;
}
.fall {
    background-color: #ff6565 !important;
    transition: background-color 1s !important;
}
.rise {
    background-color: #66fc66 !important;
    transition: background-color 1s !important;
}
.obsolete {
    background-color: #dadada !important;
}
@media (min-width: 1300px) {
    .container{
        max-width: 1300px;
    }
}