{% load static %}
{% with request.resolver_match.view_name as view_name %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-active-deepskyblue">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'core:inter_exchanges_list_new' %}">Assets L<span style="color:deepskyblue">∞</span>p</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDark" aria-controls="navbarNavDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDark">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if '/' == request.path  %}active{% endif %}" href="{% url 'core:inter_exchanges_list_new' %}" id="navbarDarkMenuLink" role="button" aria-expanded="false">
              Все связки
            </a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link {% if '/info' == request.path %}active{% endif %}" href="{% url 'core:info' %}" id="navbarDarkMenuLink2" role="button" aria-expanded="false">#}
{#              Служебная информация#}
{#            </a>#}
{#          </li>#}
{#          <form class="form-inline">#}
{#            <a class="btn btn-outline-success " type="button" href="{% url 'core:start' %}">Start</a>#}
{#          </form>#}
{#          <span style="color:#3b3b3b">∞</span>#}
{#          <form class="form-inline">#}
{#            <a class="btn btn-outline-secondary" type="button" href="{% url 'core:stop' %}">Stop</a>#}
{#          </form>#}
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endwith %}