{% extends 'base.html' %}

{% block title %}
  P2P exchange rates
{% endblock %}

{% block content %}
{% load custom_filters %}
{% include 'crypto_exchanges/includes/bank_and_crypto_exchange_selector.html' %}
  <h1>
    P2P exchange rates
  </h1>
  <p>
    Count rates: {{ crypto_exchange_rates.count }}
  </p>
  <p>
    Last update: {{ last_update }}
  </p>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        {% if request.path|last_url_path:3 == 'crypto_exchanges' %}<th scope="col">Crypto_exchange</th>{% endif %}
        {% if request.path|last_url_path:2 == 'banks' %}<th scope="col">Bank</th>{% endif %}
        <th scope="col">Currencies</th>
        <th scope="col">Price</th>
        <th scope="col">Updated</th>
      </tr>
    </thead>
    {% for crypto_exchange_rate in crypto_exchange_rates %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        {% if request.path|last_url_path:3 == 'crypto_exchanges' %}<td>{{ crypto_exchange_rate.crypto_exchange.name }}</td>{% endif %}
        {% if request.path|last_url_path:2 == 'banks' %}<td>{{ crypto_exchange_rate.bank.name }}</td>{% endif %}
        {% if crypto_exchange_rate.trade_type == 'SELL' %}<td>{{ crypto_exchange_rate.asset }} -> {{ crypto_exchange_rate.fiat }}</td>{% else %}<td>{{ crypto_exchange_rate.fiat }} -> {{ crypto_exchange_rate.asset }}</td>{% endif %}
        <td>{{ crypto_exchange_rate.price }}</td>
        <td>{{ crypto_exchange_rate.update.updated}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}