{% extends 'base.html' %}

{% block title %}
  Intra-bank exchanges through crypto-exchanges
{% endblock %}

{% block content %}
{% load custom_filters %}
{% include 'crypto_exchanges/includes/bank_and_crypto_exchange_selector.html' %}
  <h1>
    The best possible Intra-bank exchanges through crypto-exchanges
  </h1>
  <p>
    Count rates: {{ crypto_exchange_rates.count }}
  </p>
  <p>
    Last update: {{ last_update }}
  </p>
    <table class="table table-striped-columns table-dark">
      <thead>
      <tr>
        <th></th>
        <th colspan="{% if request.path|last_url_path:2 == 'banks' %}4{% else %}3{% endif %}" scope="col" class="text-center">Bank exchanges info</th>
        <th colspan="{% if request.path|last_url_path:3 == 'crypto_exchanges' %}4{% else %}3{% endif %}" scope="col" class="text-center">Crypto exchanges info</th>
        <th colspan="2" scope="col" class="text-center">General</th>
      </tr>
        <tr>
          <th scope="col">#</th>
          {% if request.path|last_url_path:2 == 'banks' %}<th scope="col">Bank</th>{% endif %}
          <th scope="col">Way</th>
          <th scope="col">Currencies</th>
          <th scope="col">Price</th>
          {% if request.path|last_url_path:3 == 'crypto_exchanges' %}<th scope="col">Crypto exchange</th>{% endif %}
          <th scope="col">Currencies</th>
          <th scope="col">Payment channels</th>
          <th scope="col">Price</th>
          <th scope="col">Marginality<br>percentage</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      {% for loop_rate in loop_rates %}
        {% with loop_rate.crypto_rate as crypto_exchange_rate and loop_rate.bank_rate as bank_rate %}
        {% with bank_rate|get_related_exchange as true_bank_rate %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            {% if request.path|last_url_path:2 == 'banks' %}<td>{{ bank_rate.bank.name }}</td>{% endif %}
            <td>
            {% if bank_rate.bank_exchange_model == 'BanksExchangeRates' %}
              Intrabank exchange
            {% elif bank_rate.bank_exchange_model == 'BankInvestExchanges' %}
              {{ true_bank_rate.currency_market.name }}
            {% elif bank_rate.bank_exchange_model == 'IntraBanksNotLoopedExchanges' %}
              Intrabank triple exchange
            {% endif %}
          </td>
          <td>
            {% if bank_rate.bank_exchange_model == 'IntraBanksNotLoopedExchanges' %}
              {% for currency in true_bank_rate.list_of_transfers %}
                {{ currency }}
                {% if not forloop.last %}->{% endif %}
              {% endfor %}
            {% else %}
              {{ bank_rate.from_fiat }} -> {{ bank_rate.to_fiat }}
            {% endif %}
          </td>
          <td>{{ true_bank_rate.price|round_up }}</td>
            {% if request.path|last_url_path:3 == 'crypto_exchanges' %}<td>{{ crypto_exchange_rate.crypto_exchange.name }}</td>{% endif %}
            <td>
              {{ crypto_exchange_rate.from_fiat }} ->
              {% if crypto_exchange_rate.input_exchange.payment_channel == 'Card2Wallet2CryptoExchanges' %}
                {{ crypto_exchange_rate.from_fiat }} -> { crypto_exchange_rate.input_exchange.asset }} ->
              {% else %}
                {{ crypto_exchange_rate.input_exchange.asset }} ->
              {% endif %}
              {% if crypto_exchange_rate.interim_exchange is not None %}
                {{ crypto_exchange_rate.interim_exchange.to_asset }} ->
              {% endif %}
              {% if crypto_exchange_rate.output_exchange.payment_channel == 'Card2Wallet2CryptoExchanges' %}
                {{ crypto_exchange_rate.to_fiat }} ->
              {% endif %}
              {{ crypto_exchange_rate.to_fiat }}
            </td>
            <td>
              {{ crypto_exchange_rate.input_exchange.payment_channel_model|payment_channel_name:'BUY' }} ->
              {% if crypto_exchange_rate.interim_exchange is not None %}
                Internal ->
              {% endif %}
              {{ crypto_exchange_rate.output_exchange.payment_channel_model|payment_channel_name:'SELL' }}
            </td>
            <td>{{ crypto_exchange_rate.price|round_up }}</td>
            <td>{{ loop_rate.marginality_percentage|floatformat:2 }} %</td>
            <td>{{ crypto_exchange_rate.update.updated }}</td>
          </tr>
        {% endwith %}
        {% endwith %}
      {% endfor %}
    </table>
{% endblock %}