{% load custom_filters %}
<ul class="nav nav-tabs">
  <li class="ms-auto nav-item">
    <a class="nav-link {% if request.path|last_url_path:2 == 'crypto_exchanges' %}active{% endif %}" href="/crypto_exchanges/{{ request.path|last_url_path:1 }}/">All crypto exchanges</a>
  </li>
  {% for crypto_exchange_name in crypto_exchange_names %}
  <li class="nav-item">
    <a class="nav-link {% if crypto_exchange_name == request.path|last_url_path:2 %}active{% endif %}" href="/{{ crypto_exchange_name }}/{{ request.path|last_url_path:1 }}/">{{ crypto_exchange_name }}</a>
  </li>
  {% endfor %}
</ul>